.PaddingLeftAuto{
    padding-left: 0 !important;
}
.PaddingRightAuto{
    padding-right: 0 !important;
}
.Padding0{
    padding: 0;
}
.PositionFixed{
    position: fixed;
}

.FontSize22px{
    font-size: 22px !important;
}
.FontWeightBold{
    font-weight: bold !important;
}
.FontColorDefault{
    color: #3f51b5 !important;
}
.Width100{
    width: 100%;
}